<!-- page1.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case 1</title>
    <link rel="stylesheet" href="/app/static/styles.css">
    <script src=""></script>
</head>
<body>
    <h1>Welcome to Page 1</h1>
    <a href="./case2.html">Go to Page 2</a>
    <div>
        <input type="range" id="estimate_slider" min="0" max="300" value="205">
        <img id="estimate_img" src="/app/static/images/superman.png" alt="estimated sales for given price">
    </div>
</body>
</html>